<div class="container">
  <article>
    <h1>
      <%= @article.title %>
      <small>
        <%= link_to "edit", edit_article_path(@article) %>
        <%= link_to "Delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </small>
    </h1>

    <hr>
    <%= @article.content %>
  </article>
</div>
